  </body>
  <footer id="copyright">
    Copyright © Sean Conroy.
  </footer>
  <script type="text/javascript" src="js/theme.js"> </script>
  <script type="text/javascript" src="js/date.js"> </script>
  <script type="text/javascript" src="js/edit.js"> </script>
</html>